<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="bogoTodo">

	<head>
	    <!-- META -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- Optimize mobile viewport -->
	    <title>Todolist</title>
	    <!-- SCROLLS -->
	    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

	    <!-- load bootstrap -->
	    <style>
	    html {
	        overflow-y: scroll;
	    }
	    
	    body {
	        padding-top: 50px;
	    }
	    
	    #todo-list {
	        margin-bottom: 30px;
	    }
	    </style>
	    <!-- SPELLS -->
	    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	    <!-- load jquery -->
	    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
	    <!-- load angular -->
	    <script src="core.js"></script>
	</head>
	<!-- SET THE CONTROLLER AND GET ALL TODOS -->

	<body ng-controller="mainController">
	<header>
		<h1 class="jumbotron text-center" style="font-size: 40px; font-weight: bold; background-color: #E0ECF8; padding: 30px;">
		Things toDo</h1>
	</header>
	<main>
		<div class="container">
		    <!-- HEADER AND TODO COUNT -->
		    <div class="text-center">
		        <h1>Still <span class="label label-danger">{{ todos.length }}</span> things left</h1>
		    </div>
		    <!-- TODO LIST -->
		    <div id="todo-list" class="row">
		        <div class="col-sm-4 col-sm-offset-4">
		            <!-- LOOP OVER THE TODOS IN $scope.todos -->
		            <div class="checkbox" ng-repeat="todo in todos">
		                <label>
		                    <input type="checkbox" ng-click="deleteTodo(todo._id)"> {{ todo.text }} {{todo.priority}}
		                </label>
		            </div>
		        </div>
		    </div>
		    <!-- FORM TO CREATE TODOS -->
		    <div id="todo-form" class="row">
		        <div class="col-sm-8 col-sm-offset-2 text-center">
		            <form>
		                <div class="form-group">
		                    <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
		                    <div class="row">
		                    	<input type="text" class=" input-lg text-center col-sm-8" placeholder="Things to do" ng-model="formData.text">
		                    	<input type="text" class="input-lg text-center col-sm-3" placeholder="Priority" ng-model="formData.priority">
								<button type="submit" class="btn btn-primary btn-lg col-sm-1" ng-click="createTodo()">Add</button>
		                    	{{formData}}
		                    </div>
		                </div>
		            </form>
		        </div>
		    </div>
		</div>
	</main>
	<footer>
		
	</footer>

	</body>

</html>
